{% extends "layout.html" %}
{% block content %}
    <div class="col-md-14 site-main">
    	<div class="content-section">
    		<h2>Welcome!</h2>
    		<p>There's a few different things to checkout on my website:</p>
    		<p>1. My resume: <a href="{{ url_for('main.about') }}">Resume</a></p>
    		<p>2. Come take a look at my <a href="{{ url_for('main.blog') }}">blog</a> with life updates
    				and updates about projects I have been working on in my free time! Feel free to sign up for an account
    				to comment on anything I've been doing or share what you have been working on!</p>
    	</div>
    </div>
{% endblock content %}